.buttonsContainer {
    display: flex;
    gap: 22px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.clock {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px
}

.watch {
    margin-top: 26px;
    border-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.watch strong {
}

.more {
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}