.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 700px;
    padding: 10px;
    margin-bottom: 36px ;
}

.text1 {
    margin-right: 10px;
}

.text2 {
    margin-left: 10px;
}
